doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        //- Font Awesome
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")

        //- CSS
        link(rel="stylesheet" href="assets/css/style.css")

        //- Title
        title Monito
    body 
        //- Header
        header(class="header")
            div(class="container")
                div(class="header__wrap")

                    //- Logo
                    div(class="header__logo")
                        a(href="index.html")
                            img(src="assets/images/logo.svg" alt="logo monito")
                    
                    //- Menu
                    div(class="header__menu")
                        ul
                            li 
                                a(href="index.html") Trang chủ

                            li 
                                a(href="#") Danh mục

                            li 
                                a(href="#") Giới thiệu 

                            li 
                                a(href="#") Liên hệ

                    //- Search
                    form(action="#" class="header__form")
                        input(
                            type="text"
                            name="keyword"
                            value=""
                            placeholder="Nhập từ khóa..."
                        ) 
                        button
                            i(class="fa-solid fa-magnifying-glass")

                    //- Button Join
                    a(href="#" class="button button__dark") Tham Gia Cộng Đồng
        //- End Header

        //- Section 1
        section(class="section-1")
            div(class="container")
                div(class="section-1__wrap")
                    img(
                        class="section-1__background-header"
                        src="assets/images/section-one-content-bg-02.svg"
                    )
                    //- Section 1 Content
                    div(class="section-1__content")
                        img(
                            class="section-1__background-01"
                            src="assets/images/sectione-one-content-bg-01.svg"
                        )
                        h1(class="section-1__title")
                            div(class="section-1__title--main") Thêm một Bạn 
                            div(class="section-1__title--sub") Thêm Ngàn Niềm Vui! 
                        p(class="section-1__description").
                            Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                        div(class="section-1__buttons")
                            a(href="#" class="button button__outline")
                                |   Giới thiệu 
                                i(class="fa-regular fa-circle-play")
                            a(href="#" class="button button__dark")
                                | Khám Phá Ngay
                        img(
                            class="section-1__background-03"
                            src="assets/images/section-one-content-bg-03.svg"
                        )
                    //- Section 1 Image
                    div(class="section-1__image")
                        img(
                            class="section-1__image--background"
                            src="assets/images/section-one-image-bg-01.svg"
                        )
                        img(
                            class="section-1__image--main"
                            src="assets/images/section-one-image-main.png"
                        )
        //- End Section 1