doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        //- Favicon
        link(href="https://cdn-icons-png.flaticon.com/512/3093/3093444.png" rel="icon" type="image/x-icon")
        
        //- Font Awesome
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")

        //- CSS
        link(rel="stylesheet" href="assets/css/style.css")

        //- Title
        title Monito
    body 
        //- Header
        header(class="header")
            div(class="container")
                div(class="header__wrap")
                    
                    //- Menu Mobile
                    button(
                        class="header__menu-mobile"
                    )
                        i(class="fa-solid fa-bars")

                    //- Logo
                    div(class="header__logo")
                        a(href="index.html")
                            img(src="assets/images/logo.svg" alt="logo monito")
                    
                    //- Menu
                    div(class="header__menu")
                        ul
                            li 
                                a(href="index.html") Trang chủ

                            li 
                                a(href="#") Danh mục

                            li 
                                a(href="#") Giới thiệu 

                            li 
                                a(href="#") Liên hệ

                    //- Search Mobile
                    button(
                        class="header__search-mobile"
                    )
                        i(class="fa-solid fa-magnifying-glass")
                        
                    //- Search
                    form(action="#" class="header__form")
                        input(
                            type="text"
                            name="keyword"
                            value=""
                            placeholder="Nhập từ khóa..."
                        ) 
                        button
                            i(class="fa-solid fa-magnifying-glass")

                    //- Button Join
                    a(href="#" class="button button-dark") Tham Gia Cộng Đồng
        //- End Header

        //- Section 1
        section(class="section-1")
            div(class="container")
                div(class="section-1__wrap")
                    img(
                        class="section-1__background-header"
                        src="assets/images/section-one-content-bg-02.svg"
                    )
                    //- Section 1 Content
                    div(class="section-1__content")
                        img(
                            class="section-1__background-01"
                            src="assets/images/sectione-one-content-bg-01.svg"
                        )
                        h1(class="section-1__title")
                            div(class="section-1__title-main")
                                |   Thêm một Bạn 
                            div(class="section-1__title-sub")
                                |   Thêm Ngàn Niềm Vui! 
                        p(class="section-1__description").
                            Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                        div(class="section-1__buttons")
                            a(href="#" class="button button-outline")
                                |   Giới thiệu 
                                i(class="fa-regular fa-circle-play")
                            a(href="#" class="button button-dark")
                                | Khám Phá Ngay
                        img(
                            class="section-1__background-03"
                            src="assets/images/section-one-content-bg-03.svg"
                        )
                    //- Section 1 Image
                    div(class="section-1__image")
                        img(
                            class="section-1__image-background"
                            src="assets/images/section-one-image-bg-01.svg"
                        )
                        img(
                            class="section-1__image-main"
                            src="assets/images/section-one-image-main.png"
                        )
        //- End Section 1

        //- Section 2
        section(class="section-2")
            div(class="container")
                //- Box head
                div(class="box-head")
                    div(class="box-head__left") 
                        div(class="box-head__title")
                            p(class="box-head__title-sub") 
                                |   Có gì mới?
                            h2(class="box-head__title-main") 
                                |   Một Số vật Nuôi của chúng tôi
                    div(class="box-head__right") 
                        a(href="#" class="button button-outline")
                            |   Xem thêm 
                            i(class="fa-solid fa-angle-right")

                //- Product
                div(class="section-2__wrap")
                
                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-01.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#")
                                    |   MO231 - Pomeranian Trắng
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>đực</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   6.900.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-02.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#") 
                                    |   MO502 - Poodle Tiny Vàng
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>cái</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   3.900.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-03.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#") 
                                    |   MO102 - Poodle Tiny Sepia
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>đực</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   4.000.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-04.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#")
                                    |   MO512 - Alaskan Malamute
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>đực</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>03 tháng</b>
                            
                            div(class="product-item__price") 
                                |   8.900.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-05.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#")
                                    |   MO231 - Pembroke Corgi
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>đực</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   7.900.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-06.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#") 
                                    |   MO502 - Pembroke Corgi
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>cái</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   9.000.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-07.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#") 
                                    |   MO231 - Pomeranian Trắng
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>cái</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   6.500.000 VND

                    div(class="product-item")
                        div(class="product-item__image")
                            img(src="assets/images/section-two-product-item-08.jpg")

                        div(class="product-item__content")
                            h3(class="product-item__title") 
                                a(href="#")
                                    |   MO512 - Poodle Tiny
                        
                            div(class="product-item__info")
                                div(class="product-item__info-item")
                                    |   Giống: <b>đực</b>
                                div(class="product-item__info-item")
                                    |   Tuổi: <b>02 tháng</b>
                            
                            div(class="product-item__price") 
                                |   5.000.000 VND

                //- Button Mobile
                button(class="section-2__button-mobile button-outline")
                    |   Xem thêm 
                    i(class="fa-solid fa-angle-right")

        //- Section 3
        section(class="section-3")
            div(class="container")
                div(class="section-3__wrap")
                    //- section 3 image
                    div(class="section-3__image")
                        img(src="assets/images/section-three-image-main.svg")

                    //- section 3 content
                    div(class="section-3__content") 
                        h2(class="section-3__title")
                            div(class="section-3__title-main")
                                |   Thêm Một Bạn
                            div(class="section-3__title-sub")
                                |   Thêm Ngàn Niềm Vui!
                        p(class="section-3__description").
                            Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                        div(class="section-3__buttons")
                            a(href="#" class="button-outline")
                                |   Giới thiệu
                                i(class="fa-regular fa-circle-play")
                            a(href="#" class="button button-dark")
                                |   Khám Phá ngay
        //- End Section 3

        //- Section 4
        section(class="section-4")
            div(class="container")
                //- box head
                div(class="box-head")
                    div(class="box-head__left")
                        p(class="box-head__title-sub") 
                            |   Có thể bạn đã biết?
                        h2(class="box-head__title-main") 
                            |   Kiến thức thú cưng hữu ích
                    div(class="box-head__right")
                        a(href="#" class="button button-outline")
                            |   Xem thêm
                            i(class="fa-solid fa-angle-right")
                
                //- article
                div(class="section-4__wrap")

                    div(class="article-item")
                    
                        div(class="article-item__image")
                            img(src="assets/images/section-four-article-item-01.jpg")

                        div(class="article-item__content")
                            div(class="article-item__tag article-item__tag--blue") 
                                |   Kiến thức thú cưng
                            h3(class="article-item__title")
                                a(href="#")
                                    |   Pomeranian là gì? Cách nhận biết chó Pomeranian
                            p(class="article-item__description").
                                Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.

                    div(class="article-item")

                        div(class="article-item__image")
                            img(src="assets/images/section-four-article-item-02.jpg")

                        div(class="article-item__content")
                            div(class="article-item__tag article-item__tag--blue") 
                                |   Kiến thức thú cưng
                            h3(class="article-item__title")
                                a(href="#")
                                    |   Chế độ ăn cho chó bạn cần biết
                            p(class="article-item__description").
                                Việc chia khẩu phần ăn cho chó thoạt nghe có vẻ đơn giản nhưng có một số quy tắc bạn nên biết để chó cưng dễ dàng hấp thụ các chất dinh dưỡng trong khẩu phần ăn. Dành cho những người mới bắt đầu nuôi chó, đặc biệt là chó con mới sinh có sức đề kháng tương đối yếu.

                    div(class="article-item")

                        div(class="article-item__image")
                            img(src="assets/images/section-four-article-item-03.jpg")

                        div(class="article-item__content")
                            div(class="article-item__tag article-item__tag--blue") 
                                |   Kiến thức thú cưng
                            h3(class="article-item__title")
                                a(href="#")
                                    |   Tại sao chó cắn phá đồ đạc và cách phòng ngừa hiệu quả
                            p(class="article-item__description").
                                Chó cắn là hiện tượng phổ biến trong quá trình phát triển. Tuy nhiên, không ai muốn thấy đồ đạc, vật dụng quan trọng của mình bị chó cắn.
        //- End Section 4

        //- Footer
        footer(class="footer")
            div(class="container")
                div(class="footer__top")
                    h2(class="footer__top-title")
                        |   Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    form(
                        action="#"
                        method="POST"
                        class="footer__top-form"
                    )
                        input(
                            class=""
                            type="text"
                            name="email"
                            value=""
                            placeholder="Nhập email của bạn..."
                        )
                        button(
                            class="button button-dark"
                            type="submit"
                        ) Đăng Ký Ngay

                div(class="footer__middle") 
                    ul(class="footer__middle-links")
                        li 
                            a(href="#") Trang chủ
                        li 
                            a(href="#") Danh mục
                        li 
                            a(href="#") Giới thiệu
                        li 
                            a(href="#") Liên hệ
                    
                    ul(class="footer__middle-socials")
                        li 
                            a(href="#") 
                                i(class="fa-brands fa-facebook")
                        li 
                            a(href="#") 
                                i(class="fa-brands fa-twitter")
                        li 
                            a(href="#") 
                                i(class="fa-brands fa-instagram")
                        li 
                            a(href="#") 
                                i(class="fa-brands fa-youtube")
                
                div(class="footer__bottom") 
                    p(class="footer__bottom-copyright")
                        |   © 2023 28Tech. All rights reserved.

                    div(class="footer__bottom-logo")
                        img(src="assets/images/logo.svg")

                    ul(class="footer__bottom-provision")
                        li 
                            a(href="#") Điều khoản dịch vụ
                        li 
                            a(href="#") Chính sách bảo mật
        //- End Footer