footer(class="footer")
    div(class="container")
        //- footer top
        div(class="footer__top")
            h2(class="footer__top-title")
                |   Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
            form(
                action="#"
                method="POST"
                class="footer__top-form"
            )
                input(
                    class=""
                    type="text"
                    name="email"
                    value=""
                    placeholder="Nhập email của bạn..."
                )
                button(
                    class="button button-dark"
                    type="submit"
                ) Đăng Ký Ngay

        //- footer middle
        div(class="footer__middle") 
            ul(class="footer__middle-links")
                li 
                    a(href="#") Trang chủ
                li 
                    a(href="#") Danh mục
                li 
                    a(href="#") Giới thiệu
                li 
                    a(href="#") Liên hệ
            
            ul(class="footer__middle-socials")
                li 
                    a(href="#") 
                        i(class="fa-brands fa-facebook")
                li 
                    a(href="#") 
                        i(class="fa-brands fa-twitter")
                li 
                    a(href="#") 
                        i(class="fa-brands fa-instagram")
                li 
                    a(href="#") 
                        i(class="fa-brands fa-youtube")
        
        //- footer bottom
        div(class="footer__bottom") 
            p(class="footer__bottom-copyright")
                |   © 2023 28Tech. All rights reserved.

            div(class="footer__bottom-logo")
                img(src="assets/images/logo.svg")

            ul(class="footer__bottom-provision")
                li 
                    a(href="#") Điều khoản dịch vụ
                li 
                    a(href="#") Chính sách bảo mật